.personalp_content_avatar_wrapper {
    width: 300px; height: 350px; margin-left: 35px; margin-top: 25px; margin-bottom: 30px;
}
.personalp_content_avatar {
    width: 100%; height: 100%;
}
.body {
    background-color: #f6f6f6;
}
.personalp_content_nav_wrapper {
    width: 300px;
    background-color: white;
}
.personalp_content_avatar_wrapper_wrapper_left {
    display: inline-block;
    vertical-align:top;
}
.personalp_content_avatar_wrapper_wrapper_right {
    display: inline-block;
    vertical-align:top;
    width: 200px;
}
.personalp_content_right_column {
    margin-top: 50px;
    margin-left: 70px;
    width: 100px;
}
.introduction, .form_wrapper {
    margin: 0 50px 50px 40px;
}
.fieldWrapper {
    margin: 0 0 30px 15px;
}
.fieldWrapper_label {
    margin-bottom: 10px;
}
.fieldWrapper_radio {
  vertical-align: middle;
  width: 27px;
  height: 27px;
  margin: 0 8px 0 0;
}
.fieldWrapper_radio + label {
  cursor: pointer;
}
